*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.social-link a i{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px solid rgba(238,224,208);
    padding: 5px 5px;
    border-radius: 50px;

}
.social-link a i:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
    padding: 5px 5px;
}
.logo h3{
 font-weight: bold;       
}
.icons a i{
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid rgba(238,224,208);
    padding: 5px 5px;
    border-radius: 50px;
}
.icons a i:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
    padding: 5px 5px;
}

/* main content */

.main-content{
    width: 100%;
    height: 100vh;
    background-image: url('../images/armchair-green.jpg');
    background-size:cover;
    background-position: 70%;
}
/* .main-content2{
    width: 100%;
    height: 90vh;
    background-image: url('../images/mainsofa-heros.jpg');
    background-size:cover;
    background-position: center;

} */
/* navbar */

.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color:white;
    transition: 0.5s ease;
    cursor: pointer;
}
#nav-links{
    color:white !important;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;
}


/* navbar */

.content{
    margin-top: 150px;
    margin-left:60px ;
}
.content h1{
    font-size: 50px;
    color: aliceblue;
}
.content p{
    color: aliceblue;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid rgb(250, 247, 247);
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    color: white;
}
#btn1 button:hover{
    background-color: green;
}


@media screen and (max-width:1320px){
    .content{
        margin-top: 10px;
        margin-left:10px ;
    }
    .content h1{
        font-size: 30px;
        text-align: center;

    }
    .content p{
        color: aliceblue;
        text-align: justify;
    }
    #btn1 button{
        width: 100px;
        height: 32px;
        background: transparent;
        border: 1px solid rgb(250, 247, 247);
        letter-spacing: 1px;
        font-weight: bold;
        transition: 0.5s ease;
        color: white;
    }
    #btn1 button:hover{
        background-color: green;
    }

}
    

/* main content */

/* card1 */

#btn2 button{
    width: 50%;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;

}
#btn2 button:hover{
    background-color: rgba(238,224,208);

}


/* card1 */

/* card2 */

#tpc{
box-shadow: 2px 2px 5px black;
transition: 0.5s ease;
cursor: pointer;
}

#tpc:hover{
    transform: translateY(-10px);

}



/* card2 */

/* card3 */

#cc p{
    font-weight: bold;

}
#btn3{
    text-align: center;
}
#btn3 button{
    width: 50%;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;

}
#btn3 button:hover{
    background-color: rgba(238,224,208);
}


/* card3 */

/* card4 */

#btn4 button{
    width: 30%;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;

}
#btn4 button:hover{
    background-color: rgba(238,224,208);
}





/* card4 */

/* footer */

footer{
    width: 100%;
    background-color:black ;
}
footer h1{
    color: white;
}
footer p{
    color: white;
}


/* footer */